.img__white img{
    position: absolute;
    margin-top: 21%;
    margin-left: -9%;
    height: 180vh;
    width: 100px;
}

.pig__img{
    position: absolute;
    margin-top: 10%;
    z-index: 11111;
    height:  100%;
    width: 100%;
}

.refer__img img{
    position:absolute;
    margin-top: 50%;
    height: 100%;
    width: 50%;
    z-index: 555555;

}

.img__Coin img{
    position: absolute;
    z-index: 1;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    margin-top: 15%;
    margin-left: 45%;
}

.img__lupa img{
    position: absolute;
    z-index: 1;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    margin-top: 60%;
    margin-left:0%;
}

.titles .service__title{
    position: absolute;
    font-weight: bold;
    color: #0E1B31;
    margin-top: 30%;
    margin-left: 10%;
    z-index: 2;
 
}

.titles .service__title__small{
    position: absolute;
    font-weight: bold;
    color: #0E1B31;
    margin-top: 40%;
    margin-left: 10%;
    z-index: 2;
}

.titles .service__title__lupa{
    position: absolute;
    font-weight: bold;
    color: #0E1B31;
    margin-top: 70%;
    margin-left: 50%;
    z-index: 2;
}

.titles .service__title__lupa{
    position: absolute;
    font-weight: bold;
    color: #0E1B31;
    margin-top: 70%;
    margin-left: 50%;
    z-index: 2;
}

.titles .service__title__lupa__small{
    position: absolute;
    font-weight: bold;
    color: #0E1B31;
    margin-top: 80%;
    margin-left: 50%;
    z-index: 2;
}

@media screen and (max-width: 1200px) {
    .refer__img img{
        position:absolute;
        margin-top: 50%;
        height: 80%;
        width: 50%;
        z-index: 555555;
    }
}

@media screen and (max-width: 992px) {
    .img__white{
        position: absolute;
        margin-top: -0%;
        margin-left: 80px;
        height: 180vh;
        width: 300%;
    }
    .img__Coin img{
        position: absolute;
        z-index: 1;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        display: block;
        margin-top: 15%;
        margin-left: 47%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 50%;
        margin-left: 5%;
        height: 80%;
        width: 50%;
        z-index: 555555;
    }
    
}

@media screen and (max-width: 768px) {
    .img__white{
        position: absolute;
        top: 280%;
        left: 100px;
        height: 190%;
        width: 200%;   
    }

    .img__Coin img{
        position: absolute;
        z-index: 1;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        display: block;
        margin-top: 60%;
        margin-left: 65%;
    }

    .service__title{
        position: absolute;
        top: 300%;
        left: 80px;
    }
    
    .titles h2{
        position: absolute;
        top: 310%;
        margin-left: 20%;
    }

    .service__title__small{
        position: absolute;
        top: 300%;
        left: 10%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 100%;
        left: 10%;
        height: 70%;
        width: 60%;
        z-index: 555555;
    }

    .service__title__lupa{
        position: relative;
        top: 180%;
        left: 20%;
    }

    .service__title__lupa__small{
        position: relative;
        top: 330%;
        left: 20%;
    }

}

@media screen and (max-width: 576px) {
    .img__white{
        position: absolute;
        top: 263%;
        left: 320px;
        height: 170%;
        width: 100vh;   
    }

    .img__Coin img{
        position: absolute;
        z-index: 1;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        display: block;
        margin-top: 50%;
        margin-left: 100%;
    }

    .service__title{
        position: absolute;
        top: 280%;
        left: 60%;
    }

    .service__title__small{
        position: absolute;
        top: 300%;
        left: 60%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 100%;
        left: 50%;
        height: 70%;
        width: 60%;
        z-index: 555555;
    }

    .service__title__lupa{
        position: relative;
        top: 230%;
        left: 70%;
    }

    .service__title__lupa__small{
        position: relative;
        top: 335%;
        left: 70%;

    }
    .titles h2{
        position: absolute;
        top: 300%;
    }

}

@media screen and (max-width: 486px) {
    .img__white{
        position: absolute;
        top: 290%;
        left: 320px;
        height: 170%;
        width: 100vh;   
    }

    .img__Coin img{
        position: absolute;
        z-index: 1;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        display: block;
        margin-top: 60%;
        margin-left: 110%;
    }

    .service__title{
        position: absolute;
        top: 285%;
        left: 70%;
    }

    .service__title__small{
        position: absolute;
        top: 322%;
        left: 70%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 150%;
        left: 70%;
        height: 70%;
        width: 60%;
        z-index: 555555;
    }

    .titles h2{
        position: absolute;
        top: 320%;
        left: 90%;
    }

    .service__title__lupa__small{
        position: relative;
        top: 360%;
        left: 90%;
        margin-left: 50%;
    }

}

@media screen and (max-width: 414px) {
    .img__white{
        position: absolute;
        top: 302%;
        left: -20px;
        height: 170%;
        width: 100vh;   
    }

    .img__Coin img{
        position: absolute;
        margin-top: 570%;
        margin-left: 50%;
    }

    .service__title{
        position: absolute;
        top: 315%;
        left: -0%;
    }

    .service__title__small{
        position: absolute;
        top: 320%;
        left: 0%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 150%;
        left: 0%;
        top: 250%;
        height: 30%;
        width: 60%;
        z-index: 555555;
    }

    .titles h2{
        position: absolute;
        top: 380%;
        left: -10%;
    }

    .service__title__lupa__small{
        position: absolute;
        top: 400%;
        left: -10%;
        margin-left: 50%;
    }

}

@media screen and (max-width: 414px) {
    .img__white{
        position: absolute;
        top: 311%;
        left: -45px;
        height: 170%;
        width: 100vh;   
    }

    .img__Coin img{
        position: absolute;
        margin-top: 460%;
        margin-left: 45%;
    }

    .service__title{
        position: absolute;
        top: 325%;
        left: -0%;
    }

    .service__title__small{
        position: absolute;
        top: 350%;
        left: 0%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 150%;
        left: 0%;
        top: 300%;
        height: 40%;
        width: 60%;
        z-index: 555555;
    }

    .titles h2{
        position: absolute;
        top: 380%;
        left: -10%;
    }

    .service__title__lupa__small{
        position: absolute;
        top: 410%;
        left: -10%;
        margin-left: 50%;
    }

}

@media screen and (max-width: 375px) {
    .img__white{
        position: absolute;
        top: 318%;
        left: -46px;
        height: 170%;
        width: 100vh;   
    }

    .img__Coin img{
        position: absolute;
        margin-top: 333%;
        margin-left: 50%;
    }

    .service__title{
        position: absolute;
        top: 325%;
        left: -0%;
    }

    .service__title__small{
        position: absolute;
        top: 350%;
        left: 0%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 150%;
        left: 0%;
        top: 285%;
        height: 40%;
        width: 60%;
        z-index: 555555;
    }

    .titles h2{
        position: absolute;
        top: 380%;
        left: -10%;
    }

    .service__title__lupa__small{
        position: absolute;
        top: 410%;
        left: -10%;
        margin-left: 50%;
    }

}

@media screen and (max-width: 320px) {
    .img__white{
        position: absolute;
        top: 370%;
        left: -30px;
        height: 170%;
        width: 100vh;   
    }

    .img__Coin img{
        position: absolute;
        top: 150%;
        margin-left: 50%;
    }

    .service__title{
        position: absolute;
        top: 370%;
        left: -0%;
    }

    .service__title__small{
        position: absolute;
        top: 350%;
        left: 0%;
    }

    .refer__img img{
        position:absolute;
        margin-top: 170%;
        left: 0%;
        top: 400%;
        height: 40%;
        width: 60%;
        z-index: 555555;
    }

    .titles h2{
        position: absolute;
        top: 400%;
        left: -10%;
    }

    .service__title__lupa__small{
        position: absolute;
        top: 430%;
        left: -10%;
        margin-left: 50%;
    }

}
